<div class="wrapper-for-content-outside-of-footer">
	<div class="full_view">
		<div class="text_block">
			<h1><%= @exhibition.artist %></h1>
			<hr>
			<h2><%= @exhibition.name %></h2>
			<h3><%= @exhibition.description %></h3>
			<h3><%= @exhibition.date %></h3>
		</div>
	</div>
</div>

	