<div class="wrapper-for-content-outside-of-footer">
	<!-- SECTION 1 / MAP NAVIGATION -->
	<section>
		<div class="map_navigation">
			<div class="map"></div>
			<div class="desc-box"></div>
		</div>
	</section>
	<!-- END OF SECTION 1 -->

	<!-- SECTION 2 / EVENTS -->
	<section>
		<div class="event_section">
			<div class="events">
				
			</div>
		</div>
	</section>
	<!-- END OF SECTION 2 -->

	<!-- SECTION 3 / FEATURES -->
	<section>
		<div class="features_section">
			<div class="main_feature_row"></div>
			<div class="secondary_feature"></div>
			<div class="secondary_feature"></div>
			<div class="secondary_feature"></div>
			<div class="secondary_feature"></div>
		</div>
	</section>
	<!-- END OF SECTION 3 -->

	<!-- SECTION 4 / ISSUE DOWNLOAD -->
	<section>
		<div class="issue_section">
			<div class="main_vertical_column"></div>
			<div class="secondary_vertical_column"></div>
			<div class="secondary_vertical_column"></div>
			<div class="third_vertical_column"></div>
		</div>
	</section>
	<!-- END OF SECTION 4 -->
</div>