<div class="wrapper-for-content-outside-of-footer">
	<% @photographers.each do |photographer| %>
		<section>
			<div class="grid_column animated fadeIn" style="background-image: url('<%= photographer.avatar %>')">
				<div class="column_wrapper">
					<h1><%= link_to photographer.name, photographer_path(photographer.id) %></h1>
					<h2><%= photographer.project %></h2>
				</div>
			</div>
		</section>
	<% end %>
</div>

