// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body
	background: $blue
	z-index: -10
	margin: 0
	height: 100%

.map_navigation
	+clearfix
	+outer-container(100%)

.map
	background: $dark-gray
	+span-columns(9)
	height: 500px

.desc-box 
	background: $orange
	+span-columns(3)
	height: 500px
	+pad()

.event_section
	+span-columns(4)
	height: 1000px
	background: $dark-gray

.events 
	padding: 30px
	color: $blue

.events h1
	color: $orange
	font-size: 40px
.events h3
	font-weight: 100
	font-style: italic

.features_section
	+span-columns(8)
	height: 600px
	background: $dark-gray

.main_feature_row
	+span-columns(12)
	height: 200px
	background: #dcc9d3

.secondary_feature
	+span-columns(6)
	height: 200px
	background: #bddc00

.issue_section
	+span-columns(8)
	height: 400px
	background: #dc711e

.main_vertical_column
	+span-columns(4)
	background: #3edc60
	height: 400px

.secondary_vertical_column
	+span-columns(3)
	background: #dca400
	height: 400px

.third_vertical_column
	+span-columns(2)
	background: #dc1e2c
	height: 400px 

	
